.doc-page {
    padding: 16px 46px;
    font-weight: 300;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.doc-h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 0;
    font-weight: 500;
    margin: 0 0 0.5rem;
}
.doc-h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.5rem 0;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    margin: 1.5rem 0 1.5rem;
}
.doc-h3 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    padding: 0.45rem 0;
    margin: 0 0 1rem;
}
.doc-heading {
    color: #1976d2;
    cursor: pointer;
}
