<template>
    <q-page class="column q-ma-md doc-page">
        <h2 class="doc-heading doc-h1">Sortable Tree</h2>
        <p>QSortableTree simulates QTree look and feel with drag&drop ability.</p>
        <h2 class="doc-heading doc-h2">Installation</h2>
        <q-markdown :no-line-numbers="true">
```
quasar ext add qsortabletree
```
        </q-markdown>
        <h2 class="doc-heading doc-h2">Git repository</h2>
        <a href="https://gitlab.com/mechanicalgux/quasar-sortable-tree">https://gitlab.com/mechanicalgux/quasar-sortable-tree</a>
        <h2 class="doc-heading doc-h2">Usage</h2>
        <h3 class="doc-heading doc-h3">Basic</h3>
        <q-expansion-item label="Code" header-class="bg-grey-2" class="q-mb-md">
            <q-markdown :src="basicUsage" :no-line-numbers="true"/>
        </q-expansion-item>
        <q-sortable-tree
                        :nodes="nodes"
                        node-key="label"
                        :default-expand-all="true"/>
        <h2 class="doc-heading doc-h2">QSortableTree API</h2>
        <json-api-viewer
            title="QSortableTree API"
            :json="json"
            starting-tab="props"
            starting-inner-tab="content"
        />
    </q-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import api from 'quasar-app-extension-qsortabletree/src/components/QSortableTree.json';

@Component
export default class Index extends Vue {
    private json = api;
    private nodes = [
        {
            label: 'Satisfied customers (with avatar)',
            avatar: 'https://cdn.quasar.dev/img/boy-avatar.png',
            children: [
                {
                    label: 'Good food (with icon)',
                    icon: 'restaurant_menu',
                    children: [
                        { label: 'Quality ingredients (no children allowed)', leaf: true },
                        { label: 'Good recipe' }
                    ]
                },
                {
                    label: 'Good service (disabled node with icon)',
                    icon: 'room_service',
                    disabled: true,
                    children: [
                        { label: 'Prompt attention' },
                        { label: 'Professional waiter' }
                    ]
                },
                {
                    label: 'Pleasant surroundings (with icon)',
                    icon: 'photo',
                    children: [
                        {
                            label: 'Happy atmosphere (with image)',
                            img: 'https://cdn.quasar.dev/img/logo_calendar_128px.png'
                        },
                        { label: 'Good table presentation' },
                        { label: 'Pleasing decor' }
                    ]
                }
            ]
        }
    ];

    private basicUsage = `\`\`\`html
<q-sortable-tree class="q-mb-xl"
                 :nodes="nodes"
                 node-key="label"
                 :default-expand-all="true"/>
\`\`\`
\`\`\`json
${JSON.stringify(this.nodes, null, 2)}
\`\`\``;
}
</script>
