<template>
    <q-sortable-tree-node :nodes="nodes"
                          :node-key="nodeKey"
                          :label-key="labelKey"
                          :children-key="childrenKey"
                          :leaf-key="leafKey"
                          :default-expand-all="defaultExpandAll"
                          class="q-tree"
                          :class="{'q-tree--no-connectors': noConnectors}"
                          :selected="selected"
                          :drag-area-height="dragAreaHeight"
                          @select="$emit('select', $event)"
                          @dblclick="$emit('dblclick', $event)"
                          @rightclick="$emit('rightclick', $event)"
                          @mouseenter="$emit('mouseenter', $event)"
                          @mouseover="$emit('mouseover', $event)"
                          @mouseleave="$emit('mouseleave', $event)">
        <template v-slot:default-header="props">
            <slot name="default-header" v-bind="props"></slot>
        </template>
        <template v-slot:default-body="props">
            <slot name="default-body" v-bind="props"></slot>
        </template>
    </q-sortable-tree-node>
</template>
<script>
import QSortableTreeNode from "./QSortableTreeNode";
export default {
    components: {QSortableTreeNode},
    props: {
        nodes: {
            required: true,
            type: Array,
        },
        nodeKey: {
            required: true,
            type: String,
        },
        labelKey: {
            required: false,
            type: String,
            default: 'label',
        },
        childrenKey: {
            required: false,
            type: String,
            default: 'children',
        },
        leafKey: {
            required: false,
            type: String,
            default: 'leaf',
        },
        defaultExpandAll: {
            required: false,
            type: Boolean,
            default: false,
        },
        noConnectors: {
            required: false,
            type: Boolean,
            default: false,
        },
        selected: {
            required: false,
            type: String,
            default: null,
        },
        dragAreaHeight: {
            required: false,
            type: Number,
            default: 1,
        },
    },
    created() {
        this.repairNodes(this.nodes);
    },
    watch: {
        nodes: {
            deep: true,
            handler() {
                this.repairNodes(this.nodes);
                this.$emit('change', this.nodes);
            },
        },
    },
    methods: {
        repairNodes(nodes) {
            nodes.forEach((node) => {
                if (!node.hasOwnProperty(this.childrenKey) || !Array.isArray(node[this.childrenKey])) {
                    this.$set(node, this.childrenKey, []);
                } else {
                    this.repairNodes(node[this.childrenKey]);
                }

                if (!node.hasOwnProperty('collapsed')) {
                    if (node.disabled) {
                        this.$set(node, 'collapsed', true);
                    } else {
                        this.$set(node, 'collapsed', this.isLeaf(node) ? false : !this.defaultExpandAll);
                    }
                }
            });
        },
        isLeaf(node) {
            return !(node.hasOwnProperty(this.childrenKey) && node[this.childrenKey].length > 0);
        },
    }
}
</script>
